.about {
  padding: clamp(100px, 13.71vw, 170px) 0 clamp(60px, 13.021vw, 100px);;

  @media (max-width: 1024px) {
    padding-top: clamp(20px, 4.839vw, 60px);
  }

  &__top,
  &__bot {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    grid-gap: 5px;

    p {
      display: inline-flex;
      font-family: var(--font-family-inter);
      font-size: clamp(16px, 1.25vw, 18px);
      line-height: clamp(22px, 1.944vw, 28px);
      letter-spacing: 0.01em;
      color: var(--color-black);
    }
  }

  &__top {
    margin-bottom: 14px;

    p {
      max-width: 250px;
      text-align: right;
    }

    @media (max-width: 992px) {
      margin-bottom: 30px;
      display: grid;
      grid-template-columns: 1fr clamp(120px, 22.177vw, 220px);
      align-items: center;
      grid-gap: 10px;

      p {
        max-width: 100%;
        grid-column: span 2;
        text-align: left;
      }
    }
  }

  &__bot {
    p {
      max-width: 300px;
      text-align: left;
    }

    @media (max-width: 992px) {
      display: grid;
      grid-template-columns: 1fr 80px;
      align-items: center;
      grid-gap: 10px;

      p {
        max-width: 100%;
        grid-column: span 2;
        order: 2;
      }
    }
  }



  &__top-icon {
    width: clamp(120px, 19.653vw, 283px);
    height: clamp(45px, 5.556vw, 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(125.91% 125.91% at 50% 50%, #001AFF 0%, #FF0000 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: inset 0px 4px 40px rgba(255, 255, 255, 0.73);
    border-radius: 48px;

    svg {
      width: clamp(80px, 15.903vw, 229px);
    }
  }

  &__bot-icon {
    max-width: clamp(60px, 7.639vw, 110px);
    width: 100%;
    height: clamp(60px, 7.639vw, 110px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0019FF;
    border: 1.84444px solid #000000;
    border-radius: 50%;

    svg {
      width: clamp(30px, 4.583vw, 66px);
      height: clamp(30px, 4.583vw, 66px);
    }


  }
}
