.faq {
  padding-bottom: clamp(60px, 13.021vw, 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 17px;

  &__questions {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
  }

  &__questions-item {
    padding: clamp(20px, 4.688vw, 36px) clamp(20px, 4.948vw, 38px);
    background-color: var(--color-white);
    box-shadow: inset 0px 4px 24px rgba(91, 137, 255, 0.25);
    border-radius: 15px;
  }

  &__question {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;
    font-size: clamp(20px, 3.125vw, 24px);
    line-height: clamp(24px, 4.297vw, 33px);
    font-weight: 500;
    color: var(--color-black);
    text-align: left;

    svg {
      flex-shrink: 0;
    }
  }

  &__answer {
    padding-top: 25px;
    font-family: var(--font-family-inter);
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: var(--color-grey);
    letter-spacing: 0.01em;
  }
}

