.footer {
  padding: 40px 85px 40px 63px;
  background-color: var(--color-black);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  grid-gap: 75px;

  &__info {
    width: 100%;
  }

  &__top {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 25px;
  }

  &__nav {
    grid-gap: 49px;

    a {
      color: var(--color-white);
      letter-spacing: -0.8px;
    }
  }

  &__sponsors {
    margin-bottom: 30px;
    font-family: var(--font-family-sfprodisplay);
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: var(--color-white);
  }

  &__email {
    color: #767780;
  }

  &__timer {
    max-width: 320px;
    width: 100%;
  }
}
