.header {
  width: 100%;
  position: absolute;
  top: 84px;
  z-index: 5;

  @media (max-width: 1024px) {
    position: relative;
    top: initial;
    padding: 30px 0;
  }

  &__wrapp {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 1240px) {
      align-items: center;
    }
  }

  &__logo {
    position: relative;
    z-index: 25;
  }

  &__btn {
    padding: 4px 15px;

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__switcher {
    width: 68px;
    height: 36px;
    background-color: rgba(30, 128, 254, 0.1);
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
  }

  &__switcher-item {
    position: relative;
  }

  &__switcher-input {
    position: absolute;
    inset: 0;
    visibility: hidden;
    opacity: 0;

    &:checked ~ .header__switcher-daytime {
      color: #fff;
      background: linear-gradient(180deg, #F9C46C 0%, #D77328 100%);

      svg {
        fill: #fff;
      }
    }
  }

  .header__switcher-daytime {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #131D30;
    cursor: pointer;
    transition: all 0.3s ease;

    svg {
      fill: currentColor;
      stroke: currentColor;
      transition: all 0.3s ease;
    }
  }


  &__nav {
    @media (max-width: 992px) {
      display: none;
    }
  }


}


