.header {
  width: 100%;
  position: absolute;
  top: 84px;
  z-index: 5;

  &__wrapp {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 1240px) {
      align-items: center;
    }
  }

  &__btn {
    padding: 4px 15px;
  }

  &__switcher {
    display: flex;
  }


}


