<footer class="footer">
  <div class="footer__info">
    <div class="footer__top">
      <a class="footer__logo logo" href="#">
        <svg width='102' height='40'>
          <use href='img/sprite/sprite.svg#logo'></use>
        </svg>
      </a>

      <ul class="footer__nav nav">
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#rewards">Claim rewards</a>
        </li>
        <li>
          <a href="#features">Features</a>
        </li>
        <li>
          <a href="#involve">Who’s involved</a>
        </li>
        <li>
          <a href="#team">Team</a>
        </li>
        <li>
          <a href="#faq">F.A.Q</a>
        </li>
      </ul>
    </div>

    <div class="footer__sponsors">Who is the sponsor of this giveaway?</div>

    <a class="footer__email" href="mailto:example@gmail.com">мыло</a>
  </div>

  <div class="footer__timer timer">
    <div class="timer__heading">Claiming will be live for:</div>

    <ul class="timer__score">
      <li>
        <span class="timer__count-days"></span>d
      </li>
      <li>
        <span class="timer__count-hours">0</span>h
      </li>
      <li>
        <span class="timer__count-minutes">0</span>m
      </li>
    </ul>
  </div>
</footer>


