<header class="header">
  <div class="container">
    <div class="header__wrapp">
      <a class="header__logo logo" href="#">
        <svg width='102' height='40'>
          <use href='img/sprite/sprite.svg#logo-black'></use>
        </svg>
      </a>

      <ul class="header__nav nav">
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#rewards">Claim rewards</a>
        </li>
        <li>
          <a href="#features">Features</a>
        </li>
        <li>
          <a href="#involve">Who’s involved</a>
        </li>
        <li>
          <a href="#team">Team</a>
        </li>
        <li>
          <a href="#faq">F.A.Q</a>
        </li>
      </ul>

      <div class="header__switcher">
        <label class="header__switcher-item">
          <input class="header__switcher-input" type="radio" name="switcher" checked>
          <span class="header__switcher-daytime">
            <svg width='18' height='18'>
              <use href='img/sprite/sprite.svg#dark'></use>
            </svg>
          </span>
        </label>
        <label class="header__switcher-item">
          <input class="header__switcher-input" type="radio" name="switcher">
          <span class="header__switcher-daytime">
            <svg width='18' height='18'>
              <use href='img/sprite/sprite.svg#light'></use>
            </svg>
          </span>
        </label>
      </div>

      <button class="header__btn btn" data-path="claim">Claim airdrop</button>

      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="mobile">
        <div class="mobile__menu">
        </div>
      </div>
    </div>
  </div>
</header>
