<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="Description" content="default">
  <link rel="canonical" href="#" />
  <title>Liquid</title>
  <link rel="preload" href="fonts/Manrope-Medium.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Manrope-SemiBold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Manrope-Bold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Inter-Regular.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Inter-Medium.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Inter-SemiBold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/SFProDisplay-Medium.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/ActayWide-Bold.woff2" as="font" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>
