<header class="header">
  <div class="container">
    <div class="header__wrapp">
      <a class="header__logo logo" href="#">
        <svg width='102' height='40'>
          <use href='img/sprite/sprite.svg#logo-black'></use>
        </svg>
      </a>

      <ul class="header__nav nav">
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#rewards">Claim rewards</a>
        </li>
        <li>
          <a href="#features">Features</a>
        </li>
        <li>
          <a href="#involve">Who’s involved</a>
        </li>
        <li>
          <a href="#team">Team</a>
        </li>
        <li>
          <a href="#faq">F.A.Q</a>
        </li>
      </ul>

      <div class="header__switcher">
        <svg width='68' height='36'>
        <use href='img/sprite/sprite.svg#switcher'></use>
        </svg>
      </div>

      <button class="header__btn btn">Claim airdrop</button>
    </div>
  </div>
</header>
