<div class="modal">
  <div class="modal__container" data-target="claim">
    <div class="modal__wrapper">
      <div class="modal__close">
        <svg width='18' height='18'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </div>

      <div class="modal__title">CLAIM YOUR TOKENS!</div>

      <ul class="modal__rewards">
        <li>
          <button>
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#box'></use>
            </svg>
            <span>OPEN</span>
          </button>
        </li>
        <li>
          <button>
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#box'></use>
            </svg>
            <span>OPEN</span>
          </button>
        </li>
        <li>
          <button>
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#box'></use>
            </svg>
            <span>OPEN</span>
          </button>
        </li>
        <li>
          <button>
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#box'></use>
            </svg>
            <span>OPEN</span>
          </button>
        </li>
        <li>
          <button>
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#box'></use>
            </svg>
            <span>OPEN</span>
          </button>
        </li>
        <li>
          <button>
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#box'></use>
            </svg>
            <span>OPEN</span>
          </button>
        </li>
        <li>
          <button>
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#box'></use>
            </svg>
            <span>OPEN</span>
          </button>
        </li>
        <li>
          <button>
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#box'></use>
            </svg>
            <span>OPEN</span>
          </button>
        </li>
      </ul>

      <button class="modal__btn btn">CLAIM THE REWARD</button>
    </div>
  </div>
</div>
