<div class="modal">
  <div class="modal__container" data-target="claim">
    <div class="modal__wrapper">
      <div class="modal__close">
        <svg width='18' height='18'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </div>

      <div class="modal__title">CLAIM YOUR TOKENS!</div>

      <form class="modal__rewards reward">
        <span class="reward__variants">
          <label class="reward__label">
            <input class="reward__input" type="radio" name="reward">
            <span class="reward__choose">
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#box'></use>
              </svg>
              <span>OPEN</span>
            </span>
          </label>

          <label class="reward__label">
            <input class="reward__input" type="radio" name="reward">
            <span class="reward__choose">
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#box'></use>
              </svg>
              <span>OPEN</span>
            </span>
          </label>

          <label class="reward__label">
            <input class="reward__input" type="radio" name="reward">
            <span class="reward__choose">
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#box'></use>
              </svg>
              <span>OPEN</span>
            </span>
          </label>

          <label class="reward__label">
            <input class="reward__input" type="radio" name="reward">
            <span class="reward__choose">
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#box'></use>
              </svg>
              <span>OPEN</span>
            </span>
          </label>

          <label class="reward__label">
            <input class="reward__input" type="radio" name="reward">
            <span class="reward__choose">
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#box'></use>
              </svg>
              <span>OPEN</span>
            </span>
          </label>

          <label class="reward__label">
            <input class="reward__input" type="radio" name="reward">
            <span class="reward__choose">
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#box'></use>
              </svg>
              <span>OPEN</span>
            </span>
          </label>

          <label class="reward__label">
            <input class="reward__input" type="radio" name="reward">
            <span class="reward__choose">
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#box'></use>
              </svg>
              <span>OPEN</span>
            </span>
          </label>

          <label class="reward__label">
            <input class="reward__input" type="radio" name="reward">
            <span class="reward__choose">
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#box'></use>
              </svg>
              <span>OPEN</span>
            </span>
          </label>
        </span>

        <button class="reward__claim btn">CLAIM THE REWARD</button>
      </form>
    </div>
  </div>
</div>
