.nav {
  display: flex;
  align-items: center;
  grid-gap: 18px;

  a {
    font-family: var(--font-family-inter);
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: #364053;
    transition: all 0.4s ease;

    &:hover,
    &:active {
      color: var(--color-blue);
    }
  }
}
