.modal {
  --transition-time: 0.3s;
	position: fixed;
  inset: 0;
	z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6.5px);
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--transition-time), visibility var(--transition-time);

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;

    // @media (max-width: 575px) {
    //   height: initial;
    //   vertical-align: initial;
    // }
  }


  &.is-open {
    position: fixed;
    opacity: 1;
    visibility: visible;
    transition: opacity var(--transition-time), visibility var(--transition-time);

    // @media (max-width: 575px) {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    // }
  }

  &__container {
    display: none;
    vertical-align: middle;
    width: auto;
    position: relative;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(31.3576px);
    border-radius: 30px;
    cursor: default;

    &.modal-open {
      display: inline-block;
    }
  }

  &__wrapper {
    position: relative;
    max-width: 564px;
    width: 100vw;
    padding: 60px 26px 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 24px;

    @media screen and (max-width: 1024px) {
      width: 90vw;
    }
  }

  &__close {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 28px;
    top: 28px;
    transition: all 0.4s ease;
    cursor: pointer;
  }

  &__btn {
    width: 100%;
    padding: 18px;
    font-size: 18px;
    line-height: 22px;
    border-radius: 12px;
  }

  &__title {
    font-family: var(--font-family-inter);
    font-size: clamp(26px, 4.818vw, 37px);
    line-height: clamp(30px, 5.859vw, 45px);
    font-weight: 600;
    color: var(--color-white);
    text-transform: uppercase;
  }

  &__rewards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

    @media (max-width: 576px) {
      grid-template-columns: repeat(3, 1fr);
    }

    button {
      width: 100%;
      padding: clamp(25px, 6.51vw, 50px) 0;
      background: radial-gradient(68.15% 68.15% at 50% 50%, #1B60F5 0%, #C7D9FF 100%);
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      grid-gap: 4px;
      font-family: var(--font-family-actaywide);
      font-size: clamp(18px, 3.125vw, 24px);
      line-height: clamp(24px, 3.906vw, 30px);
      font-weight: 700;
      color: var(--color-white);
    }
  }
}


.fade {
  opacity: 0;
  transition: opacity var(--transition-time);
}

.fade.animate-open {
  opacity: 1;
  transition: opacity var(--transition-time);
}

.fadeInUp {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity var(--transition-time), transform var(--transition-time);
}

.fadeInUp.animate-open {
  opacity: 1;
  transform: translateY(0);
  transition: opacity var(--transition-time), transform var(--transition-time);
}

.disable-scroll {
  position: relative;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

