.h1 {
  font-family: var(--font-family-actaywide);
  font-size: 107px;
  line-height: 107px;
  font-weight: 700;
  color: var(--color-black);
  text-transform: uppercase;

  @media (max-width: 1439px) {
    font-size: clamp(90px, 7.431vw, 107px);
    line-height: clamp(100px, 7.431vw, 107px);
    white-space: nowrap;
  }

  @media (max-width: 1240px) {
    font-size: clamp(65px, 7.258vw, 90px);
    line-height: clamp(65px, 7.258vw, 90px);
  }

  @media (max-width: 992px) {
    font-size: clamp(36px, 6.552vw, 65px);
    line-height: clamp(36px, 6.552vw, 65px);
  }

  @media (max-width: 576px) {
    font-size: clamp(32px, 6.25vw, 36px);
    line-height: clamp(32px, 6.25vw, 36px);
  }
}

.h2 {
  font-size: 41px;
  line-height: 55px;
  font-weight: 700;
  color: var(--color-black);
  text-align: center;
  text-transform: uppercase;

  @media (max-width: 1240px) {
    font-size: clamp(32px, 3.228vw, 41px);
    line-height: clamp(38px, 4.331vw, 55px);
  }

  @media (max-width: 576px) {
    font-size: 25px;
    line-height: 100%;
  }
}

