.h1 {
  font-family: var(--font-family-actaywide);
  font-size: 107px;
  font-size: clamp(58px, 8.425vw, 107px);
  line-height: 107px;
  line-height: clamp(80px, 7.431vw, 100px);
  font-weight: 700;
  color: var(--color-black);
  text-transform: uppercase;

  @media (max-width: 1240px) {
    grid-gap: 0;
    line-height: 100%;
  }
}

.h2 {
  // margin-bottom: 12px;
  font-size: 41px;
  line-height: 55px;
  font-weight: 700;
  color: var(--color-black);
  text-align: center;
  text-transform: uppercase;

  @media (max-width: 1240px) {
    font-size: clamp(32px, 3.228vw, 41px);
    line-height: clamp(38px, 4.331vw, 55px);
  }

  @media (max-width: 576px) {
    font-size: 25px;
    line-height: 100%;
  }
}

