:root {
  /* -- Fonts --*/
  --font-family-manrope: "Manrope", sans-serif; // var(--font-family-manrope);
  --font-family-inter: "Inter", sans-serif; // var(--font-family-inter);
  --font-family-sfprodisplay: "SFProDisplay", sans-serif; // var(--font-family-sfprodisplay);

  /* -- Colors --*/
  --color-black: #000000; // var(--color-black);
  --color-white: #ffffff; // var(--color-white);
  --color-grey: #7A7A7A; // var(--color-grey);
  --color-matterhorn: #4E4E4E; // var(--color-matterhorn);
  --color-blue: #1B60F5; // var(--color-blue);
  --color-dark-blue: #0019FF; // var(--color-dark-blue);
  --color-midnight-express: #131D30; // var(--color-midnight-express);







}








