:root {
  /* -- Fonts --*/
  --font-family-inter: "Inter", sans-serif; // var(--font-family-inter);

  /* -- Colors --*/
  --color-black: #000000; // var(--color-black);
  --color-white: #ffffff; // var(--color-white);

  --color-grey: #D2D2D2; // var(--color-grey);
  --color-gold: #FFC700; // var(--color-gold);
  --color-magenta: #5F005F; // var(--color-magenta);
  --color-magenta-hover: #7C007C; // var(--color-magenta-hover);

  --color-main: #11141F; // var(--color-main);
  --footer-bg: #262943; // var(--footer-bg);
  --socials-bg: #252542; // var(--socials-bg);

  --color-placeholder: #B8B8B8; // var(--color-placeholder);
  --color-input: #FAF4F4; // var(--color-input);






}








