:root {
  /* -- Fonts --*/
  --font-family-manrope: "Manrope", sans-serif; // var(--font-family-manrope);
  --font-family-inter: "Inter", sans-serif; // var(--font-family-inter);
  --font-family-sfprodisplay: "SFProDisplay", sans-serif; // var(--font-family-sfprodisplay);

  /* -- Colors --*/
  --color-black: #000000; // var(--color-black);
  --color-white: #ffffff; // var(--color-white);







}








